<div data-ng-controller="MainCtrl as mainCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <games data-ng-repeat="sched in mainCtrl.schedules"team1="{{sched.away}}" team2="{{sched.home}}" kickoff-time="1:00 PM ET" colour="primary" type="comments">  {{mainCtrl.schedules}}</games>
        <!-- <games team1="Browns" team2="Eagles" kickoff-time="1:00 PM ET" colour="primary" type="user"></games>
        <games team1="Bengals" team2="Jets" kickoff-time="1:00 PM ET"  colour="yellow" type="shopping-cart"></games>
        <games team1="Raiders" team2="Saints" kickoff-time="1:00 PM ET"  colour="red" type="support"></games> -->

    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Game Room
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <chat></chat>
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
