.timeline {
    position: relative;
    /*background-image: url(../football.png);*/
    padding: 20px 0 20px;
    list-style: none;
    overflow: hidden;
height: 100em;
}



.timeline:before {
    /*content: " ";*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.field-img {
  width: 100%;
  /*position: absolute;*/
  /*background-image: url(../football.png);
  background-repeat: no-repeat;
  background-size: contain;*/
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    /*z-index: -9999;*/
}
.box-container {
  display: flex;
/* flex-direction: column; */
flex-wrap: wrap;
height: 100%;
}


.btn {
  position: relative;
  top: 15px;
  z-index: 1;
  /*margin: 0 10;*/
}

.box-watch {
  padding: 1em;
height: 10em;
width: 15em;
background-color: aqua;
margin-left: 1em;
margin-bottom: 1em;
text-align: center;
}
.status-class {
  color: black;
}
/*.field-img > img {
      z-index: -999;
}*/

/*.btn-group {
  z-index: 99;
}*/
/*.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}*/

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.btn-div {
  text-align: center;
}
